{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}



<form action="{% url 'register' %}" method = POST>
    {% csrf_token %}
    <div class="container shadow p-4">
        <div class="row">
            <div class="col-md-8 text-center">
            <h1>Register</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            {{ form.username|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ form.email|as_crispy_field }}
                </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ form.password1|as_crispy_field }}
                </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ form.password2|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-center">
                <div class="justify-content-center links">
                    Already have an account? <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
    </form>

    {% endblock %}