{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <title>Home</title>
  </head>
  <header>
    {% include 'header.html' %}  
  </header>
  <body>
    {% for category_name, products in categories.items %}
      <div class="max-w-6xl mx-auto px-4">
        <div class="mb-4 mt-8">
          <a href="{% url 'products' %}{{category_name}}">
            <h2 class="text-2xl font-bold w-max hover:border-b hover:border-black">{{category_name}}</h2>
          </a>
        </div>
        <div class="grid-container">
          {% if products %}
            {% for product in products %}
              <div class="grid-item">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                  <img src="{{ product.image.url }}" alt="{{ product.name }}" class="mx-auto my-4" style="max-height: 200px; height: 200px;">
                </a>
                {% else %}
                  <p>No image available</p>
                {% endif %}
                <a href="{% url 'product_detail' product.id %}">
                  <p class="text-left font-medium truncate line-clamp-1">{{ product.name }}</p>
                </a>
                  <p>${{ product.price }}</p>
                </a>
              </div>
            {% endfor %}
          {% else %}
            <p>No {{ category_name }} found.</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </body>
</html>