{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    {% include 'header.html' %}
  </head>
  <body>
    <div class="container mx-auto my-10">
      <div class="flex">
        <div class="w-1/2 pr-10">
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="mx-auto my-4" style="max-height: 500px; height: 500px;">
          {% else %}
            <p>No image available</p>
          {% endif %}
        </div>
        <div class="w-1/2">
          <!-- Show item properties -->
          <div class="w-full px-10">
            <h1 class="text-3xl font-bold">{{ product.name }}</h1>
            <p class="text-gray-700 text-xl font-bold my-4">${{ product.price }}</p>
            <p class="text-gray-700 text-xl my-4">Condition: {{ product.condition }}</p>
          </div>
          <!-- Show user profile -->
          <hr class="my-6 border-gray-400">
          <h2 class="text-gray-700 text-xl font-bold mr-4 px-10 mb-4">Seller</h2>
          <div class="flex flex-row items-center px-10">
              <div class="w-1/5 flex justify-end" style="max-width: 70px;">
                <a href="/account/{{user_profile.user.id}}">
                  <img class="w-full rounded-full" src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
                </a>
              </div>
            <div class="w-4/5 ml-4">
              <a href="/account/{{user_profile.user.id}}">
                <div class="font-bold text-lg">{{ user_profile.user.username }}</div>
              </a>
              <div class="flex items-center">
                <span class="text-yellow-400 mr-1">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                <span class="text-gray-500">(4)</span>
              </div>
            </div>
          </div>
          <a href="{% url 'test' %}"></a>
          <input type="hidden" id="username" value="{{ user_profile.user.id  }}">
          <button name='hi' class="bg-blue-500 hover:bg-blue-700 text-white font-bold mt-4 rounded mx-8 px-4" onclick="setGetParameter()">
            Contact Seller
          </button>
        </a>
        </div>
        
      </div>
      <!-- Product Description -->
      <hr class="my-10 border-gray-400">
      <div class="w-full px-10">
        <div class="flex items-center">
          <h2 class="text-gray-700 text-xl font-bold mr-4">Description</h2>
        </div>
        <p class="text-gray-700 text-xl my-4">{{ product.description }}</p>
      </div>
    </div>
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

      function setGetParameter(){
          var name = $('#username').val();
          console.log("name " + name)
          $.ajax({
            type: "POST",
            url: "{% url 'test' %}",
            data: {
              'name': name,
              'csrfmiddlewaretoken': '{{ csrf_token }}'},
          });
      }
      </script>
  </body>
  <footer>
    {% include 'footer.html' %}  
  </footer>
