{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <header>
    {% include 'header.html' %}  
  </header>
  {% block content %}
  <div class="container mx-auto my-10">
    <div class="flex">
      <div class="w-1/2">
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="mx-auto my-4" style="max-height: 500px; height: 500px;">
        {% else %}
          <p>No image available</p>
        {% endif %}
      </div>
      <div class="w-1/2 px-10">
        <h1 class="text-3xl font-bold">{{ product.name }}</h1>
        <p class="text-gray-700 text-xl my-4">{{ product.description }}</p>
        <p class="text-gray-700 text-xl font-bold my-4">${{ product.price }}</p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full my-4">Add to cart</button>
      </div>
    </div>
  </div>
{% endblock %}

</html>